.modal{
    width: 400px;
    z-index: 4;
    justify-content: center;
    background-color: var(--themeDarkblue);
}

.submit{
    display: inline-block;
    color: var(--themeGreen);
    border: var(--themeGreen) solid 1px;
    font-size: 24px;
    background-color: rgba(0,0,0,0);
}

.submit:hover{
    cursor: pointer;
    color: var(--themeDarkblue);
    border: var(--themeGreen) solid 1px;
    background-color: var(--themeGreen);
}

.submit:active{
    border: var(--themeGreen) solid 1px;
    background-color: var(--themeGreen);

}