.wrapper{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    max-height: calc(100vh - 100px);
}

.nextButton{

}

.memeDiv{
    margin-top: 16px;
    width: 100%;
    background-color: var(--themeDarkblue);
}

.memeHeader{
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 32px;
    height: 40px;
    grid-column-gap: 16px;
}

.memeHeader div{
    display: inline-block;
    width: 100%;
}

.headerControls{
    align-self: end;
}

.memeFooter{

}

.playButton{

}

.videoWrapper{
    background-color: var(--themeBlack);
}

.video{
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 150px);
}

.video:focus{
    outline: none;
}

.threadIdText:hover{
    cursor: pointer;
    text-decoration: underline;
}

