:root{
	--themeBlack: #222831;
	--themeBlue: #30475e;
	--themeWhite: #DCDCDC;
	--themeGreen: #06D6A0;
	--themeRed: #f05454;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--themeBlack);
	font-weight: 300;
	color: var(--themeWhite);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
}

@import "fonts.css";
@import "resets.css";

* {
	margin: 0;
	padding: 0;
}

#app {
	height: 100%;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

