:root{
	--themeBlack: #000;
	--themeDarkblue: #070c20;
	--themeBlue: #0e1e3b;
	--themeWhite: #DCDCDC;
	--themeGreen: #06D6A0;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--themeBlack);
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 300;
	color: var(--themeWhite);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
}

@import "fonts.css";
@import "resets.css";

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

